<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>NEONX</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}" />
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="//bootstrap-ru.com/assets/js/bootstrap-dropdown.js"></script>
</head>
<body>
    <div class="container-narrow">
        <div class="mast-head">
            <ul class="nav nav-pills pull-right">
                <li class="{% ifequal request.path '/'%}active{% endifequal %}"><a href="{% url 'ad.views.home' %}">Главная</a></li>
                <li class="{% ifequal request.path '/archive'%}active{% endifequal %}"><a href="{% url 'ad.views.archive' %}">Архив</a></li>
                <li class="{% ifequal request.path '/addition'%}active{% endifequal %}"><a href="{% url 'ad.views.addition' %}">Добавить</a></li>
                {% if not user.is_authenticated %}
                    <li class="{% ifequal request.path '/login'%}active{% endifequal %}"><a href="{% url 'ad.views.login_user' %}">Вход</a></li>
                {% else %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i>
                        {{ user.username }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'ad.views.addition' %}"><i class="icon-plus"></i> Подать объявление</a></li>
                        <li><a href="#"><i class="icon-list"></i> Мои объявления</a></li>
                        <li><a href="#"><i class="icon-edit"></i> Настройки</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'ad.views.userlogout' %}"><i class="i"></i> Выход</a></li></ul>
                </li>
                {% endif %}
            </ul>
            <h1>NEONX</h1>
        </div>
        <hr>
        {% block content %}
        {% endblock %}
        <hr>
        <p>© Neonx 2012</p>
    </div>
</body>
